In [71]:
# Write a program to compute the volume of a sphere

def vol(rad):
    return (4/3)*(3.14*(rad**3))

In [72]:
vol(2)

33.49333333333333

In [99]:
# Run a function that checks whether a number is in a given range(inclusive)

def ran_check(num,low,high):
    return low <= num <= high

In [100]:
# alt using in range

def ran_check(num,low,high):
    return low in range(low, high+1)

In [101]:
ran_check(7,1,10)

True

In [87]:
# Write a function that accepts a string and calculates the number of upper and lowercase letters

def up_low(mystr):
    str_upper = 0
    str_lower = 0
    
    for letter in mystr:
        if letter.islower():
            str_lower += 1
        elif letter.isupper():
            str_upper += 1
        else:
            pass
    
    print(f'Original String: "{mystr}"\nNo. of uppercase letters: {str_upper}\nNo. of lowercase letters: {str_lower}')

In [90]:
# alt using dictionary rather than separate variables

def up_low(mystr):
    d = {'upper': 0, 'lower': 0}
    
    for letter in mystr:
        if letter.islower():
            d['lower'] += 1
        elif letter.isupper():
            d['upper'] += 1
        else:
            pass
    
    print(f'Original String: "{mystr}"\nNo. of uppercase letters: {d["upper"]}\nNo. of lowercase letters: {d["lower"]}')

In [91]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String: "Hello Mr. Rogers, how are you this fine Tuesday?"
No. of uppercase letters: 4
No. of lowercase letters: 33

In [94]:
# Write a function that takes a list and returns a new list with unique elements of the first list

def unique_list(mylist):
    myset = set(mylist)
    return list(myset)

In [97]:
# alt using for loop

def unique_list(mylist):
    seen_numbers = []
    for num in mylist:
        if num not in seen_numbers:
            seen_numbers.append(num)
    return seen_numbers

In [98]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [33]:
# write a function to multiply all numbers in a list

def multiply(numbers):
    result = 1
    for num in numbers:
        result *= num
        
    return result

In [102]:
multiply([1,2,3,-4,10])

-240

In [105]:
# write a function to check whether a string is a palindrome

def ispalindrome(s):
    no_space = s.replace(" ", "")
    return no_space == no_space[::-1]

In [108]:
ispalindrome('helleh')

True

In [115]:
# write a function to check if a string is a pangram

import string

def is_pangram(s, alphabet=string.ascii_lowercase):
    s = s.lower()
    s = set(s.replace(" ", ""))

    alpha_set = set(alphabet)
    result = s.intersection(alpha_set)
    
    return result == alpha_set

In [116]:
is_pangram("The quick brown fox jumps over the lazy dog")

True