In [2]:
# Numbers: any numeric value in code, can be used for mathmatical equations and for numeric data
# Includes both integers (whole numbers) and floats (decimals)

In [3]:
# Strings: a group of characters used for labels, objects, and non-numeric data, indicated by single or double quotes
# Strings may contain any characters

In [4]:
# Lists: A mutable group of objects. May include multiple datatypes and identical objects
# Indicated by brackets

In [5]:
# Tuples: An immutable group of objects. Otherwise follows the same rules as a list
# Indicated by parentheses

In [7]:
# Dictionaries: a group of objects that is unordered and cannot be sorted; each object is assigned a label
# Dictionaries allow for objects to be called without knowing its exact location
# Dictionaries are indicated by curly brackets

In [9]:
# Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

In [13]:
(10*(40+1)-9)/4

100.25

In [14]:
# What is the value of the expression 4 * (6 + 5)
# 44

In [15]:
# What is the value of the expression 4 * 6 + 5 
# 29

In [16]:
# What is the value of the expression 4 + 6 * 5 
# 34

In [ ]:
# What is the type of the result of the expression 3 + 1.5 + 4?

# Float
# Floating point number in Python

In [67]:
# What would you use to find a numberâ€™s square root, as well as its square?
# Square root: x**0.5
# Square: x**2

In [70]:
# Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:
s = 'hello'
print(s[1])

e

In [78]:
# Reverse the following string using slicing
s = 'hello'
s[::-1]

'olleh'

In [77]:
# Given the string hello, give two methods of producing the letter 'o' using indexing.
s = 'hello'
print(s[4])
print(s[-1])

o
o

In [21]:
# Build this list [0, 0, 0] in two separate ways
method1 = [0, 0]
method2 = [0, 0, 0, 0]

method1.append(0)
method2.pop()

print(method1)
print(method2)

[0, 0, 0]
[0, 0, 0]

In [25]:
# Reassign 'hello' in this nested list to say 'goodbye' instead:
list3 = [1,2,[3,4,'hello']]
list3[2].pop()
list3[2].append("goodbye")
print(list3)

[1, 2, [3, 4, 'goodbye']]

In [27]:
# Sort the list below
list4 = [5, 3, 4, 6, 1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

In [28]:
#Using keys and indexing, grab the 'hello' from the following dictionaries

In [34]:
d = {'simple_key':'hello'}
d["simple_key"]

'hello'

In [36]:
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

In [40]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

In [42]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [43]:
# Can you sort a dictionary? Why or why not?
# You cannot sort a dictionary. The objects are unordered mappings, not an ordered sequence

In [44]:
# What is the major difference between tuples and lists
# Tuples are immutable whereas lists are mutable

In [45]:
# How do you create a tuple?
# Tuples are groups of multiple objects indicated by parentheses

In [46]:
# What is unique about a set?
# All objects in a set must be unique

In [48]:
# Use a set to find the unique values of the list below:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [49]:
# What will be the resulting Boolean of the following pieces of code

In [50]:
# 2 > 3
# false

In [51]:
# 3 <= 2
# false

In [52]:
# 3 == 2.0
# false

In [53]:
# 3.0 == 3
# true

In [54]:
#  4**0.5 != 2
# false

In [56]:
2 > 3

False

In [57]:
3 <= 2

False

In [59]:
3 == 2.0

False

In [61]:
3.0 == 3

True

In [63]:
4**0.5 != 2

False

In [64]:
# What is the boolean output of the cell block below?

# l_one = [1,2,[3,4]]
# l_two = [1,2,{'k1':4}]

# l_one[2][0] >= l_two[2]['k1']

# false

In [65]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

l_one[2][0] >= l_two[2]['k1']

False