In [3]:
if True:
    print("IS TRU")

IS TRU

In [6]:
hungry = True

if hungry:
    print("Feeeeed meeeeee")

Feeeeed meeeeee

In [10]:
loc = 'Shop'
# loc is shorthand for 'location'

if loc == "Auto shop":
    print("broom broom in me mum's car")
elif loc == "Bank":
    print("Holla holla get dolla")
else:
    print("What's goin on?")

What's goin on?

In [14]:
# Iteration is running through a set of objects including string characters, list items, and dictionary keys
# Just for loops

In [16]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [18]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [22]:
for num in mylist:
    print("It worked!")

It worked!
It worked!
It worked!
It worked!
It worked!
It worked!
It worked!
It worked!
It worked!
It worked!

In [26]:
for num in mylist:
    if num % 2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [32]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

# Taking the print function out of the for loop would just display 55

1
3
6
10
15
21
28
36
45
55

In [36]:
mystring = "Hello World"
    
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [38]:
newstring = "Hi there"

for _ in newstring:
    print("Hi!")
    
# _ is commonly used for the variable name when the variable itself is not used when you iterate through objects

Hi!
Hi!
Hi!
Hi!
Hi!
Hi!
Hi!
Hi!

In [39]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [49]:
# Tuple unpacking using for loops
for a,b in mylist:
    print(a)
    print(b)
# when unpacking tuples, parentheses are optional

1
2
3
4
5
6
7
8

In [53]:
# Iterating through a dictionary
d = {'k1':1, 'k2':2, 'k3':3}

# lists the keys
for item in d:
    print(item)
    
# to iterate through items, call .items() in the dictionary and indicate value in the variable 
for item,value in d.items():
    print(value)
    
# for large dictionaries, you may not get your items back in the order you input them because dictionaries are unordered

k1
k2
k3
1
2
3

In [55]:
# While loops
# Execute a block of code while conditions are true
# e.g. "while my pool is not full, keep filling my poolk with water"
# or "while my dogs are still hungry, keep feeding my dogs"

# while some_boolean_condition:
    # do something
# can be combined with elif and else statements

In [5]:
x = 0

while x <= 5:
    print(f"The value of x is {x}")
    x = x + 1
    
else:
    print("x is greater than 5")
    
# infinite while loops require killing the kernel

The value of x is 0
The value of x is 1
The value of x is 2
The value of x is 3
The value of x is 4
The value of x is 5
x is greater than 5

In [6]:
# break, continue, and pass
# break: breaks out of current closest enclosing loop
# continue: goes to the top of the closest enclosing loop
# pass: does nothing at all (good for avoiding syntax errors when you don't want to test a block of code you've written)

In [10]:
x = [1,2,3]

for item in x:
    pass

print("end of script")

end of script

In [16]:
mystring = "Yusuke"

In [23]:
for letter in mystring:
    if letter == 'u':
        continue
    print(letter)

Y
s
k
e

In [26]:
x = 0

while x < 5:
    if x == 4:
        break
    print(x)
    x += 1

0
1
2
3

In [ ]:
# Iterating using the range() function

In [32]:
# Printing up to (but not including) a certain number:
    # for num in range(10):
        # print(num)
    
# Printing within a certain range:
    # for num2 in range(3,10):
        # print(num2)
        
# For printing every specified number within a range
    # for num3 in range(0,20,3):
        # print(num3)

In [34]:
# To generate sequential lists
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [44]:
# iterating through strings
index_count = 0

# for letter in 'abcde':
    # print(f'At index {index_count} letter is {letter}')
    # index_count += 1
    
word = 'abcde'
# for letter in word:
    # print(word[index_count])
    # index_count += 1
    
# the enumerate function displays string characters by index
# for item in enumerate(word):
    # print(item)
    
# the enumerate function generates tuples, which can be unpacked
for index,letter in enumerate(word):
    # print(index)
    # print(letter)
    # print('\n')

0
a


1
b


2
c


3
d


4
e

In [50]:
# The zip() function

mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = ['red', 'green', 'blue']

for item in zip(mylist1,mylist2,mylist3):
    print(item)
    
# Zip() only iterates as far as the shortest list

list(zip(mylist1,mylist2,mylist3))

(1, 'a', 'red')
(2, 'b', 'green')
(3, 'c', 'blue')

[(1, 'a', 'red'), (2, 'b', 'green'), (3, 'c', 'blue')]

In [57]:
# The 'in' operator allows you to check if an item is in a list using a boolean

'x' in [1,2,3]
# Returns false

'x' in ['x','y','z']
# returns true

True

In [60]:
# the 'in' operator also works for strings

'e' in 'Hello world'
# returns true

True

In [65]:
# the 'in' operator for dictionaries
d = {'key1':1, 'key2':2, 'key3':3}

'key4' in d
# returns false

'key3' in d.keys()
# returns true

3 in d.values()
# returns true

True

In [73]:
mylist = [10,20,30,40,50,100]

In [84]:
print(min(mylist))
# returns smallest value

print(max(mylist))
# returns largest value

from random import shuffle
# 'random' is a publicly-avalable Python library
# the 'from' operator calls a library, the 'import' operator calls in a function
# the shuffle function is obvious

shuffle(mylist)

print(mylist)

from random import randint
# 'randint' grabs a random item from a range

randint(0,100)

10
100
[10, 50, 40, 100, 20, 30]

70

In [86]:
# the 'input' function allows for user input
input('Enter a number here: ')

Enter a number here: 50

'50'

In [99]:
# List Comprehensions are an alternative method of creating lists without using a For loop and .append()

In [113]:
mystring = "hello"
mylist = []

for letter in mystring:
    mylist.append(letter)
    
mylist

['h', 'e', 'l', 'l', 'o']

In [114]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [105]:
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [108]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [110]:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [115]:
celsius = [0, 10, 20, 34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [118]:
results = [x if x%2==0 else 'odd' for x in range(0,11)]
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [121]:
# Nested loops
mylist = []
for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [123]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]